.form-control
{
	min-width:500px;
}



.jumbotron
{
	background-image:url('../images/Jumbotronimgg.png');
	background-attachment:fixed;
	min-height:0px;
	margin-bottom:0px;
	
}

#jumbo1
{
	background-color:#00a4ff;
	
}

#mynavbar
{
	background-color:#b8b3b3;
	
}

#typemusic{
	float:left;
}

#othermusic{
	float:right;
	width:82%
}

#otherfood{
	float:right;
	width:82%
}

#eventbuttons{
	padding-bottom:15%px
	
}



.alt1
{
	background:#eee;
	min-height:400px;
}

.alt2
{
	background:#333;
	min-height:150px;
	color:#fff;
	text-align:center;
}

.padding{
	padding-top:20px;
	padding-bottom:20px;
	
}

